#!/usr/bin/make -f

%:
	dh $@ --with llxsrc
#override_dh_strip:
#	$(overridden_command) --dbgsym-migration='kdeplasma-addons-dbg (<= 4:5.11.5-0neon)'

#override_dh_auto_clean:
#	$(overridden_command)
#	find applets/lancelot/tools/puck -name *.pyc -delete || true
