[Desktop Entry]
Name=Mobile Classroom Control
Name[ca]=Control de l'Aula Mòbil
Name[ca@valencia]=Control de l'Aula Mòbil
Name[en_GB]=Mobile Clasroom Control
Name[es]=Control del Aula Móvil
Comment=Allows you to manage Mobile Classroom Control by selecting the cart to control
Comment[ca]=Permet gestionar el Control de l'Aula Mòbil seleccionat el carret a controlar
Comment[ca@valencia]=Permet gestionar el Control de l'Aula Mòbil seleccionat el carret a controlar
Comment[en_GB]=Allows you to manage Mobile Classroom Control by selecting the cart to control
Comment[es]=Permite gestionar el Control del Aula Móvil seleccionado el carrito a controlar
Icon=classroom_control
Type=Service
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-NotificationArea=true
X-Plasma-NotificationAreaCategory=SystemServices
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-PluginInfo-Author=JuanRa
X-KDE-PluginInfo-Email=juapesai@hotmail.com
X-KDE-PluginInfo-Name=org.kde.plasma.classroomcontrol
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=http://lliurex.net
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-StandAloneApp=true
