[Desktop Entry]
Name=Classroom Control
Name[ca]=Control de l'aula
Name[ca@valencia]=Control de l'aula
Name[en_GB]=Clasroom Control
Name[es]=Control del aula
Comment=Allow you to manage the classroom control mode to be used
Comment[ca]=Permet gestionar el mode de control de l'aula a utilitzar
Comment[ca@valencia]=Permet gestionar el mode de control de l'aula a utilitzar
Comment[en_GB]=Allow you to manage the classroom control mode to be used
Comment[es]=Permite gestionar el modo de control del aula a utilizar
Icon=classroom_control
Type=Service
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-NotificationArea=true
X-Plasma-NotificationAreaCategory=SystemServices
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-PluginInfo-Author=JuanRa
X-KDE-PluginInfo-Email=juapesai@hotmail.com
X-KDE-PluginInfo-Name=org.kde.plasma.classroomcontrol
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=http://lliurex.net
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-StandAloneApp=true
