[Desktop Entry]
Categories=LliureX-Administration;
Comment[es_ES]=Herramienta para gestionar el Control del Aula Móvil seleccionado el carrito a controlar
Comment=Tool to manage Mobile Classroom Control by selecting the cart to control
Comment[ca@valencia]=Ferramenta per a gestionar el Control de l'Aula Mòbil seleccionat el carret a controlar
Comment[ca_ES.UTF-8@valencia]=Ferramenta per a gestionar el Control de l'Aula Mòbil seleccionat el carret a controlar
Encoding=UTF-8
Exec=/usr/bin/classroom-control-dialog.py
GenericName[es_ES]=classroom-control
GenericName=classroom-control
Icon=classroom_control
Name[es_ES]=Classroom Control
Name=Classroom Control
Name[ca@valencia]=Classroom Control
Name[ca_ES.UTF-8@valencia]=Classroom Control
NoDisplay=true
